RewriteEngine On

# СТРАНИЦЫ САЙТА (перенаправляем с красивых адресов на реальные файлы)
RewriteRule ^uslugi$ templater/services.html [L]
RewriteRule ^uslugi/$ templater/services.html [L]

RewriteRule ^o-nas$ templater/about.html [L]
RewriteRule ^o-nas/$ templater/about.html [L]

RewriteRule ^vakansii$ templater/vacancies.html [L]
RewriteRule ^vakansii/$ templater/vacancies.html [L]

RewriteRule ^partnyory$ templater/partners.html [L]
RewriteRule ^partnyory/$ templater/partners.html [L]

RewriteRule ^kontakty$ templater/contacts.html [L]
RewriteRule ^kontakty/$ templater/contacts.html [L]

RewriteRule ^litsenzii$ templater/license.html [L]
RewriteRule ^litsenzii/$ templater/license.html [L]

RewriteRule ^politika-konfidencialnosti$ templater/privacy.html [L]
RewriteRule ^politika-konfidencialnosti/$ templater/privacy.html [L]

RewriteRule ^personalnye-dannye$ templater/personal-data.html [L]
RewriteRule ^personalnye-dannye/$ templater/personal-data.html [L]

# ГЛАВНАЯ СТРАНИЦА
RewriteRule ^$ templater/index.html [L]